astropy
geonum
LatLon23
matplotlib
basemap
numpy
opencv-python
pandas
paramiko
Pillow
scipy
Shapely 
ttkthemes
scikit-image
ruamel.yaml
srtm.py
watchdog
parameterized
dropbox
pywin32 ; sys_platform == 'win32'
pyinotify ; sys_platform == 'linux'
pyplis @ git+https://github.com/volcanotech-sw/pyplis.git@sources_fix
pydoas @ git+https://github.com/volcanotech-sw/pydoas.git
iFit @ git+https://github.com/volcanotech-sw/iFit.git@make-pip-install